<div *ngIf="!!pageContent" class="header">
  <div class="header-left">
    <img (click)="goBack()" class="header-left-icon" [src]="pageContent.backIconUrl">
  </div>
  <div class="header-center">
    <h3 class="title">{{title}}</h3>
  </div>
  <div class="header-right">
    <img (click)="showMenuHead=true;" class="header-right-icon" [src]="pageContent.menuIconUrl">
    <div *ngIf="showMenuHead" class="head-menus">
      <div (click)="showMenuHead=false" class="head-menus-bg"></div>
      <div class="head-menus-content">
        <ul class="menu-list">
          <li *ngFor="let menu of menus" class="menu-item">
            <a (click)="acceptMenu(menu);" class="menu-link">{{menu.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
