.news-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.team-photo {
  max-width: 774.5px;
  width: 100%;
  max-height: 500px;
}

.news-departments {
  width: 100%;
  max-width: 734px;
}

.department-name {
  color: #24252b;
  font-weight: 700;
  margin-top: 55px;
  font-size: 27px;
}

.newsPosition {
}
