<div *ngIf="pageContent" class="home-page">
  <div class="section-one">
    <img [src]="pageContent.logoUrl | safe:'url'" class="logo">
    <h1 class="title">{{pageContent.description}}</h1>
    <div class="video-container">
      <iframe class="video-iframe" [src]="pageContent.videoUrl | safe:'resourceUrl'" width="800" height="450"></iframe>
    </div>
    <div class="video-desc">
      <p class="video-des-text">{{pageContent.descriptionVideo}}</p>
      <img class="video-desc-icon" [src]="pageContent.videoIconUrl">
    </div>
  </div>

  <div class="section-price section-bg-white">
    <h3 class="title">{{pageContent.sectionPrice.title}}</h3>
    <p class="desc">{{pageContent.sectionPrice.description}}</p>
  </div>

  <div class="section-review">
    <h3 class="review-title">{{pageContent.sectionReviews.title}}</h3>
    <p class="review-desc">{{pageContent.sectionReviews.desc}}</p>
    <div class="reviews swiper-container">
      <div class="swiper-wrapper">
        <div class="review-item swiper-slide" *ngFor="let review of pageContent.sectionReviews.reviews">
          <img class="review-image" [src]="review.imageUrl">
          <div class="review-info">
            <img class="review-source" [src]="review.sourceIconUrl">
            <span class="review-author">{{review.authorName}}</span>
            <p class="review-comment">{{review.comment}}</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="section-print section-bg-white">
    <h3 class="title">{{pageContent.sectionPrint.title}}</h3>
    <p class="desc">{{pageContent.sectionPrint.description}}</p>
  </div>

  <div class="section-rate">
    <img class="rate-img" [src]="pageContent.sectionRate.imageUrl">
    <p class="rate-info">{{pageContent.sectionRate.info}}</p>
    <h3 class="rate-desc">{{pageContent.sectionRate.description}}</h3>
  </div>

  <div class="section-menu-bottom-desktop">
    <ul class="menu-list">
      <li class="menu-item" *ngFor="let menu of pageContent.sectionMenuBottom.desktop">
        <a [routerLink]="[menu.link]" class="menu-link">{{menu.name}}</a>
      </li>
    </ul>
  </div>

  <div class="section-language">
    <ng-container *ngFor="let lang of pageContent.languages">
      <button class="btn-lang" *ngIf="currentLanguage===lang.code">
        <img class="icon" [src]="lang.iconUrl">
        <span class="name">{{lang.name}}</span>
        <span class="arrow"></span>
      </button>
    </ng-container>
  </div>

  <div class="footer">
    <button [routerLink]="['/getstarted']" class="btn-start">{{pageContent.startButton}}</button>
  </div>
</div>
