.design-edit-content {
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  .design-image-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 700;
    letter-spacing: 1.6px;
    z-index: 2;
    pointer-events: none;
    margin-bottom: 32px;
  }
}

.pinch-zoom {
  width: 284px;
  height: 284px;
}

.pinch-zoom-container {
  position: relative;
  overflow: hidden;
}

.image-background {
  width: 323px;
  height: 323px;
  position: absolute;
  left: 0;
  top: 0;
}

.pinch-zoom-view {
  width: 284px;
  height: 284px;
  margin-left: 16px;
  margin-top: 12px;
}

.pinch-zoom-container {
  width: 324px;
  height: 324px;
}

.pinch-zoom-view.padding {
  width: 213px;
  height: 213px;
  margin-left: 54px;
  margin-top: 50px;
}

.pinch-zoom-view.padding .pinch-zoom {
  width: 213px;
  height: 213px;
}

