.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  justify-content: flex-end;
  display: -webkit-box;
  display: flex;
  align-items: center;
  flex-direction: column;

  .menu-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #2929295e;
  }


  .menu-content {
    z-index: 10;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .15), 0 16px 24px 2px rgba(0, 0, 0, .1), 0 6px 30px 5px rgba(0, 0, 0, .09);

    .menus {
      margin: 0;
      padding: 0;
      list-style: none;

      .menu-item {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        padding: 13px 0;
        border-top: 2px solid #e8e8e8;
        cursor: pointer;

        &:first-child {
          border-top: none;
        }

        .menu-link {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }


  }


  .popup-top {
    z-index: 10;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.15), 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 30px 5px rgba(0, 0, 0, 0.09);
    text-align: center;
    padding: 18px 12px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .popup-top-img {
      width: 269px;
      height: 269px;
      overflow: hidden;
      border: 2px solid #ff0072;
      margin-bottom: 18px;
    }

    .popup-top-title {
      text-align: center;
      font-size: 19px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 18px;
    }

    .popup-top-des {
      margin: 0;
      font-size: 17px;
      font-weight: 500;
      color: #9e9e9e;
    }
  }


}
