<div class="checkout-component" *ngIf="!!pageContent">
  <div (click)="cancel();" class="checkout-component-bg"></div>
  <div class="checkout-component-content">
    <h3 class="checkout-title">{{pageContent.title}}</h3>
    <ul class="list-link">
      <li (click)="addressPopupShow=true;" class="link-item">
        <img class="link-icon" [src]="pageContent.iconAddress">
        <span class="link-text">{{pageContent.addAddress}}</span>
      </li>
      <li class="link-item">
        <img class="link-icon" [src]="pageContent.iconPayment">
        <span class="link-text">{{pageContent.payment}}</span>
      </li>
    </ul>
    <div class="order-summary-container">
      <div class="order-summary">
        <div class="summary-item">
          <div class="text"><span class="summary-text">6 tiles</span></div>
          <div class="value">US$66</div>
        </div>
        <div class="summary-item">
          <div class="text"><span class="summary-text">Shipping</span></div>
          <div class="value">Free</div>
        </div>
        <div class="try-before-you-buy-separator"></div>
        <div class="summary-item strong">
          <div class="text"><span class="summary-text">Total</span></div>
          <div class="value">US$66</div>
        </div>
      </div>
    </div>
    <div class="bottom-button-container">
      <div (click)="checkout();" class="bottom-button">{{pageContent.checkoutText}}</div>
    </div>
  </div>
</div>

<app-popup (acceptEvent)="applyAddress();"
           (cancelEvent)="addressPopupShow=false;" *ngIf="addressPopupShow"
           [title]="pageContent.addAddress"
           [acceptText]="pageContent.done">
  <div class="forms-address popup-body">
    <div *ngFor="let field of pageContent.links.address.fields" class="form-item">
      <label class="form-item-label">{{field.name}}</label>
      <input class="form-item-input" [(ngModel)]="field.value" [placeholder]="field.placeholder">
    </div>
  </div>
</app-popup>


