.checkout-component {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%;

  .checkout-component-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.2);
  }

  .checkout-component-content {
    background-color: #fff;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    z-index: 1200;
    outline: none;
    position: fixed;
    flex-direction: column;
    left: auto;
    right: 0;
    overflow: hidden;
    border-radius: 0;
    transform: translate(0px, 0px);
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    width: 420px;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: auto;

    .checkout-title {
      font-weight: 700;
      font-size: 30px;
      align-items: center;
      padding: 0;
      display: flex;
      margin: 0;
    }

    .link-item {
      display: flex;
      align-items: center;
      height: 50px;
      font-weight: 700;
      cursor: pointer;
      color: #fbd157;
    }

    .list-link {
      padding: 0;
      margin: 0;
      list-style: none;
      border-bottom: 1px solid lightgray;
    }

    .link-icon {
      width: 17px;
      margin-right: 24px;
    }

    .order-summary-container {
      padding-top: 17px;

      .order-summary {
        flex: 1 1;
        font-size: 14px;
        line-height: 1.45;
      }

      .summary-item {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 6px;
        color: #333;
      }
    }


    .bottom-button-container {
      padding: 16px 0 0;

      .bottom-button {
        position: relative;
        background-color: #fbd157;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: box-shadow .3s, background-color .3s;
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.forms-address {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  //padding: 0 15px;
  //border-radius: 5px;
  //margin: 30px 30px 30px;
  box-shadow: none;
  //background: #f7f7f7;

  .form-item {
    border-bottom: 1px solid #ededed;
    display: flex;
    padding: 0;
    position: relative;

    .form-item-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 140px;
      font-size: 12px;
      color: #333;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0;
      padding: 5px 0;
      margin-right: 10px;
    }

    .form-item-input {
      border: none;
      transition: background-color .2s;
      box-sizing: border-box;
      //background: #f7f7f7;
      display: inline;
      width: 100%;
      height: auto;
      padding: 14px 0;
      font-weight: 300;
      font-size: 16px;
      align-items: center;
      border-bottom: 0;
      outline: none;
      margin: 0;
      background: none;
      -webkit-appearance: none
    }
  }
}

.notify-freeship {
  margin: 9px 0;
  font-size: 15px;
  color: #fbd157;
}

span.required {
  position: absolute;
  bottom: 2px;
  right: 0;
  font-size: 12px;
  font-weight: 300;
  color: #FF5722;
  display: none;
}

.form-item.required {
  border-bottom-color: red !important;
}

.form-item.required .required {
  display: block;
}

.form-item.required label {
  color: #FF5722 !important;
}

button.back {
  background: none;
  border: none;
  padding: 6px;
  color: white;
  background-color: #fbd157;
  margin-right: 12px;
  border-radius: 35px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

button.back > svg {
  width: 24px;
  height: 24px;
}


.result-img {
  color: #8BC34A;
  /* background-color: #967f7f; */
  width: 60px;
  margin: 0 auto;
}

.fa-secondary {
  fill: #eaeaea;
}

h3.result-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p.result-des {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #4e4e4e;
  margin: 12px 0;
}

button.result-btn {
  border: none;
  background-color: #fbd157;
  color: white;
  font-weight: 400;
  padding: 12px;
  font-size: 17px;
  border-radius: 3px;
  width: 70%;
  margin: 12px auto;
  cursor: pointer;
}

.close-checkout {
  position: absolute;
  top: 26px;
  right: 24px;
  width: 18px;
  z-index: 99999;
  color: #d2d2d2;
  cursor: pointer;
}

.bottom-button.disable {
  background-color: #d9d9d9 !important;
}

.summary-item:last-child {
  font-weight: 500;
}

.ss-item-prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 6px 9px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 15px;
}

.list-info-orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  background-color: whitesmoke;
  border-radius: 3px;
  border-style: dashed;
  border-width: 1px;
  border-color: #adadad;
}

.list-info-order-ite {
  width: 50%;
  padding: 12px 6px;
  /* border-left: 1px solid lightgray; */
  /* border-bottom: 1px solid lightgray; */
}

.list-info-order-ite > p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #8a8a8a;
}

.list-info-order-ite > span {
  font-size: 15px;
  font-weight: 500;
  display: block;
}

h3.result-title {
  margin: 12px 0 3px 0;
}

.ss-item-other {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 15px;
  font-weight: 400;
}

.ss-item-other:last-child {
  font-weight: 500;
}

.fullname, .phoneNumber, .address {
  margin: 6px 0;
  font-weight: 400;
}
