<div class="checkout-component">
  <div (click)="cancel();" class="checkout-component-bg"></div>
  <div class="checkout-component-content">
    <h3 class="checkout-title">Checkout</h3>
    <ul class="list-link">
      <li (click)="addressPopupShow=true;" class="link-item">
        <img class="link-icon" src="https://www.mixtiles.com/images/icons/addressIcon.svg">
        <span class="link-text">Add address</span>
      </li>
      <li class="link-item">
        <img class="link-icon" src="https://www.mixtiles.com/images/icons/creditCardIcon.svg">
        <span class="link-text">Add Payment Method</span>
      </li>
    </ul>
    <div class="order-summary-container">
      <div class="order-summary">
        <div class="summary-item">
          <div class="text"><span class="summary-text">6 tiles</span></div>
          <div class="value">US$66</div>
        </div>
        <div class="summary-item">
          <div class="text"><span class="summary-text">Shipping</span></div>
          <div class="value">Free</div>
        </div>
        <div class="try-before-you-buy-separator"></div>
        <div class="summary-item strong">
          <div class="text"><span class="summary-text">Total</span></div>
          <div class="value">US$66</div>
        </div>
      </div>
    </div>
    <div class="bottom-button-container">
      <div (click)="checkout();" class="bottom-button">Place Order</div>
    </div>
  </div>
</div>

<app-popup (acceptEvent)="addressPopupShow=false;"
           (cancelEvent)="addressPopupShow=false;" *ngIf="addressPopupShow"
           [title]="'Add address'"
           [acceptText]="'Done'">
  <div class="forms-address popup-body">
    <div *ngFor="let field of pageContent.links.address.fields" class="form-item">
      <label class="form-item-label">{{field.name}}</label>
      <input class="form-item-input" [(ngModel)]="field.value" [placeholder]="field.placeholder">
    </div>
  </div>
</app-popup>


